<app-sidenav>
    <router-outlet></router-outlet>

    <app-container>
        <aside>
        <p>Pobieranie danych: Aplikacja powinna pobierać dane o kursach walut z API Narodowego Banku Polskiego (NBP API).</p>
        <p>Wyświetlanie kursów walut: Na stronie głównej powinny być wyświetlane aktualne kursy walut z możliwością wyboru daty waluty.</p>
        <p>Przeliczanie walut: Użytkownik powinien mieć możliwość przeliczenia kwoty z jednej waluty na drugą. Do tego celu powinien być dostępny formularz, w którym użytkownik może wprowadzić kwotę i wybrać waluty. </p>
        <p>Responsywność: Aplikacja powinna być responsywna i dobrze wyglądać na różnych urządzeniach. </p>
        <p>Dostępność: Aplikacja powinna spełniać standardy WCAG 2.1. </p>
        <p>Stylowanie: Użyj CSS do stworzenia atrakcyjnego i czytelnego interfejsu użytkownika. Zadanie proszę wykonać w Angularze" </p>
    </aside>
    
    
    </app-container>
    <app-footer></app-footer>
</app-sidenav>


